/* main/css/main.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

main {
    margin: 20px;
}

#messageContainer {
    display: none;
    padding: 10px;
    margin: 10px 0;
}
